@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poppins:wght@200;400;500;600;800&family=Raleway&family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EEE;
    font-family: Roboto;
}

header {
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding:20px 30px;
}

header h1 {
    text-transform: uppercase;
    font-weight: 800;
}

header nav {
    grid-column: end;
}

header nav a {
    color: #000;
    text-decoration: none;
    margin-left:30px;
    position: relative;
    padding: 10px 20px;
    border-radius:4px;
    border: 1px solid transparent;
}

header nav a:last-of-type{
    background-color: #000;
    color: #fff;
    transition: background-color 0.25s ease;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .background-container {
    width: 100%;
    overflow: hidden;
    grid-column: span 3;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px 60px;
    gap: 10px;
}

main .background-container img {
    width: 100%;
    filter: grayscale() blur(0.2em);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main .background-container h2 {
    color: #fff;
    grid-column: span 2;
    grid-row: span 2;
    text-align: center;
    max-width:900px;
    justify-self: center;
    align-self:center;
}

main .background-container button {
    grid-column: span 1;
    padding: 20px 60px;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: background-color 0.25s ease;
}

main .background-container button:first-of-type {
    justify-self: end;
    align-self: start;
    border: 1px solid transparent;
    background-color: #fff;
}

main .background-container button:last-of-type {
    justify-self: start;
    align-self: start;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

main .lookup-container {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    background: #FFF;
    padding: 20px 30px;
    gap: 30px;
}

main .lookup-container h3 {
    grid-column: span 6;
    justify-self: center;
}

main .lookup-container input {
    grid-column: 2 / 6;
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 1.15em;
    margin-bottom: -50px;
    border: 1px solid #d7d7d7;
    position: relative;
}

main .lookup-container input::before {
    content: " ";
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: red;
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: 100;
}

main .main-container {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background: transparent;
    padding: 50px 150px 20px 150px;
    gap:20px;
}

main .main-container ul {
    grid-column: span 8;
}

main .main-container ul li {
    list-style: none;
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 0;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.25s ease;
}

main .main-container .card {
    grid-column: span 2;
    border-radius: 6px;
    background: #FFF;
    padding: 5px;
    border: 5px solid #FFF;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
    transition: transform 0.25s ease;
    cursor: pointer;
}

main .main-container .card:hover {
    transform: translateY(-10px);
}

main .main-container .card .avatar {
    width: 100%;
    background-color: #c7c7c7;
    border-radius: 6px;
    margin-bottom: 10px;
    max-height: 260px;
    overflow: hidden;
    aspect-ratio: 16/9;
    object-fit: cover;
}

main .main-container .card .avatar img {
    max-width: 100%;
}

main .main-container .card h4 {
    font-size: 18px;
    padding: 0 2px;
}

main .main-container .card p {
    font-size: 18px;
    padding: 2px 2px;
    letter-spacing: 0.25px;
    line-height: 1.4;
    padding: 10px 2px;
    font-size: 16px;
}

main .main-container .card ul {
    border-top: 1px solid #c7c7c7;
    padding: 10px 0 0 0;
}

main .main-container .card ul li {
    list-style: none;
    display: inline-block;
    background: #c7c7c7;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 10px;
    margin:0;
}

footer {
    max-width: 100%;
    background-color: #FFF;
    padding: 20px 30px;
}

.black-to-white:hover {
    background-color: #FFF !important;
    border: 1px solid #000 !important;
    color: #000 !important;
}

.white-to-black:hover {
    background-color: transparent !important;
    border: 1px solid #FFF !important;
    color: #FFF !important;
}

@media screen and (max-width:1200px) {
    main .main-container .card {
        grid-column: span 4;
    }
}

@media screen and (max-width:780px) {
    header {
        grid-template-rows: 1fr 1fr;
    }

    header h1{
        grid-column: span 2;
        text-align: center;
    }

    header nav {
        grid-column: span 2;
        margin: 30px auto;
    }

    main .background-container h2{
        font-size: 22px;
    }

    main .background-container button{
        padding: 20px 40px;
    }

    main .main-container .card {
        grid-column: span 8;
    }
}

@media screen and (max-width:470px) {
    header nav a {
        margin: 0;
        padding: 5px 10px;
    }

    header nav {
        display: none;
    }

    header h1 {
        grid-row: span 2;
    }

    main .background-container img {
        height: 100%;
    }

    main .background-container h2{
        font-size: 20px;
    }

    main .background-container button{
        padding: 10px 20px;
    }
}

@media screen and (max-width:400px) {
    main .background-container h2 {
        font-size: 18px;
    }

    main .background-container button {
        font-size: 12px;
        margin: auto;
    }

    main .lookup-container input,h3 {
        grid-column: span 6;
    }
}

